/* Navbar */
#logopic {
	margin-top: 7px;
}

#logotype {
	font-family: 'Lato';
	font-weight: 400;
	font-size: 40px;
	text-rendering: optimizelegibility;
	color: #4c7a9f;
	margin-left: 10px;
	margin-bottom: 20px;
	letter-spacing: -2px;
}

/* Home page */
.headline {
	font-size: 75px;
	font-weight: 900;
	letter-spacing: -2px;
	line-height: 80px; 
	text-align: center;
	margin: 70px 0;
	padding: 0 10px;
	}

.headline p {
	color: #BDC3C7;
	font-size: 40px; 
	font-weight: 400;
	line-height: 40px; 
	letter-spacing: -2px;
	margin: 0;
	text-align: center;
}

.headline small {
    color: rgba(52, 73, 94, 0.3);
    display: block;
    font-size: 40px;
    /*font-weight: 700;*/
    letter-spacing: -1px;
    padding-top: 5px; 
}

@media (max-width: 480px) {
	.headline {
		font-size: 65px;
		line-height: 50px;
	}
	.headline p {
		font-size: 30px;
		line-height: 50px;
	}
	.headline small {
		font-size: 30px;
	}
}

/*.headline .logo {
	background: url("../images/new/signal_noise.svg") center 0 no-repeat;
	background-size: 256px 186px;
	height: 186px;
	margin: 0 auto 26px;
	overflow: hidden;
	text-indent: -9999em;
	width: 256px; }*/

/* People page */

.people .span2 {
	height: 350px;
	width: 200px;
	max-width: 100%;
	display: block;
	margin-left: 40px;
	margin-bottom: 40px;
}

@media (max-width: 767px) { 
	.people .span2 {
		margin-left: auto;
		margin-right: auto;
	}
}

.people img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px
}

.people h4 {
	text-align: center
}

.people p {
	text-align: center;
	font-size: 15px;
	margin: 0px;
}

.people .icons {
	width: 45px;
	height: 10px;
	display: block;
	margin: 5px auto;
}

.people .icons a {
	text-decoration: none;
	color: rgba(66,63,55,0.15);
	-webkit-transition: color 0.15s;
	-moz-transition: color 0.15s;
	-o-transition: color 0.15s;
	transition: color 0.15s;
}

.people .icons a:hover {
	color: rgb(73, 78, 85);
}



/* Blog */
.date {
	text-align: center;
}

.center {
	margin: 3em auto; 
	display: block; 
	width: 100%;
}