/* Remove padding from body so navbar and footer don't look weird */
body {
	padding: 0;
}

/* Add padding back in through container so text looks right on small screens */
.container {
	padding: 0 20px;
}

/* Space out each section on home and people pages */
.section {
	margin-top: 70px;
}

/* Make <h1> page headings stick out */
.page-heading {
	font-size: 50px;
	font-weight: bold;
	margin: 50px 0;
}


/* NAVBAR */
.masthead {
	padding: 20px 0;
	background-color: rgb(247, 248, 248);	
}

#logopic {
	margin-top: 7px;
	margin-right: 10px;
}

#logotype {
	font-family: 'Lato';
	font-weight: 400;
	font-size: 40px;
	letter-spacing: -2px;
	text-rendering: optimizelegibility;
	color: #4c7a9f;
	/*Overwrite default h1 margin so navab fits*/
	margin-bottom: 0px;
}


/* HOME PAGE */

/* Headline styles */
.headline {
	font-size: 75px;
	font-weight: 900;
	letter-spacing: -2px;
	line-height: 80px; 
	text-align: center;
	padding: 0 10px;
	/*Overwrite default h1 margin so page fits*/
	margin-bottom: 0px;
}

.headline p {
	color: #BDC3C7;
	font-size: 40px; 
	font-weight: 400;
	line-height: 40px; 
	letter-spacing: -2px;
	margin: 0;
	text-align: center;
}

/* Adjust headline for small screens */
@media (max-width: 480px) {
	.headline {
		font-size: 65px;
		line-height: 50px;
	}
	.headline p {
		font-size: 30px;
		line-height: 50px;
	}
	.headline small {
		font-size: 30px;
	}
}

.button-link h3 {
	font-size: 20px;
}

#partners h1 {
	margin-bottom: 40px;
}

/*Line up partner logos*/
#partners .span2 {
	width: 180px;
	height: 67px;
	margin-left: 40px;
	margin-bottom: 40px;
	display: block;
}
#partners img {
	vertical-align: middle;
}

#ci {
	margin-top: -30px; 
}

#urbanccd {
	margin-top: -12px;
}

#argonne {
	margin-top: -18px;
}



/* PEOPLE PAGE */
/* Makes people headshots and bios look right */

.people .span2 {
	height: 350px;
	width: 200px;
	max-width: 100%;
	display: block;
	margin-left: 40px;
	margin-bottom: 40px;
}

@media (max-width: 767px) { 
	.people .span2 {
		margin-left: auto;
		margin-right: auto;
	}
}

.people img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px
}

.people h4 {
	text-align: center
}

.people p {
	text-align: center;
	font-size: 15px;
	margin: 0px;
}

.people .icons {
	width: 45px;
	height: 10px;
	display: block;
	margin: 5px auto;
}

.people .icons a {
	text-decoration: none;
	color: rgba(66,63,55,0.15);
	-webkit-transition: color 0.15s;
	-moz-transition: color 0.15s;
	-o-transition: color 0.15s;
	transition: color 0.15s;
}

.people .icons a:hover {
	color: rgb(73, 78, 85);
}

/* Hacky way to space out the advisors */
#advisors .span2 {
	margin-left: 150px;
}


/* BLOG */
.date {
	text-align: center;
}

.center {
	margin: 3em auto; 
	display: block; 
	width: 100%;
}

/* FOOTER */
footer {
	background-color: rgb(247, 248, 248);	
	padding-top: 20px; 
	padding-bottom: 100px;
}

footer i {
	vertical-align: middle;
}