---
layout: default
---

<div class="container">

  <h2 class="page-title">
    Projects
    <hr>
  </h2>	
  <p>
  	This summer, our fellows will work on data science projects in health, education, energy, transportation, and more.
  </p>
   <p> 
  	Our program is intensive and hands-on. Fellows will work directly with <strong>nonprofits</strong>, <strong>local governments</strong>, and <strong>federal agencies</strong>, learning about what they do and tackling data problems they face.
  </p>
  <p>
  	We're strong believers in open knowledge and open source. We'll blog extensively about our projects, and make much of our research and code open to everyone.
  </p>

  <!-- Iterate through projects and display info -->
  {% for post in site.posts %}
    {% if post.type == 'org' %}

      <div id="projects" class="row section">

        <!-- Project issue and name -->
        {% if post.issue %}
          <span class="label label-large label-important">{{ post.issue }}</span>
        {% endif %}
        <h4 class="project-title">
          <a href="{{ post.website }}">{{ post.org }}</a> - {{ post.project }}
        </h4>

        <!-- Partner logos -->
        <div class="span4">
            {% for img in post.img %}
              <a href="{{ post.website[1] }}">            
              <img src="/img/partners/{{ img }}">
              </a>
            {% endfor %}
        </div>

        <!-- Project description -->
        <div class="span8">
          {{ post.content }}
        </div>
      </div>

    {% endif %}
  {% endfor %}
  </div>

