---
layout: default
---

<div class="container">

  <h2 class="page-title">
    Projects
    <hr>
  </h2>	
  <p>
  	This summer, our fellows will work on data science projects in health, education, energy, transportation, and more.
  </p>
   <p> 
  	Our program is intensive and hands-on. Fellows will work directly with <strong>nonprofits</strong>, <strong>local governments</strong>, and <strong>federal agencies</strong>, learning about what they do and tackling data problems they face.
  </p>
  <p>
  	We're strong believers in open knowledge and open source. We'll blog extensively about our projects, and make much of our research and code open to everyone.
  </p>

  <br>
  <div class="alert alert-success">
    <h6>
      We're not quite ready to announce all partners and projects. We'll be adding more in the next few days.
      <strong>Check back for more!</strong>
    </h6>
  </div>

  <!-- Iterate through projects and display info -->
  {% for post in site.posts %}
    {% if post.type == 'org' %}

      <div id="projects" class="row section">

        <!-- Project issue area -->
        {% if post.issue %}
          <span class="label label-large label-important">{{ post.issue }}</span>
        {% endif %}

        <!-- Project title -->
        <h4 class="project-title">

          <!-- Project partners -->
          {% for org in post.org %}
            <!-- Fetch the right partner url using current loop index-->
            <a href="{{ post.website[forloop.index0] }}">{{ org }}</a>
            <!-- Add comma after org name, unless last org in partner list -->
            {% if forloop.last != true %}
              ,
            {% endif %} 
          {% endfor %}

          <!-- Project name -->
          - {{ post.project }}

        </h4>

        <!-- Partner logos -->
        <div class="span4">
            {% for img in post.img %}
              <!-- Fetch the right image link as you loop through partner logos -->
              <a href="{{ post.website[forloop.index0] }}">            
              <img src="/img/partners/{{ img }}">
              </a>
            {% endfor %}
        </div>

        <!-- Project description -->
        <div class="span8">
          {{ post.content }}
        </div>
      </div>

    {% endif %}
  {% endfor %}

</div>

