<div class="masthead clearfix">
  <div class="container">
    <!-- The Logo -->
    <a href="/index.html">
    	<img src="/img/logo.png" alt="DSSG" class='pull-left' id='logopic'>
    	<p class='pull-left' id='logotype'>Data Science<br> for Social Good</p>
    </a>

    <!-- The Navigation -->
    <ul id="nav" class="nav ww-nav pull-right hidden-phone">
        <!-- <li><a href="/about.html">Program</a></li> -->
        <li><a href="/people/index.html">People</a></li>
        <!-- <li><a href="/projects.html">Projects</a></li> -->
        <li><a href="/blog/index.html">Blog</a></li>
    </ul>
  </div>
</div>
