<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <!-- The Logo -->
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse-03">
            </button>
            <a href="/" id="nav-logo" class="brand">
              <!-- <i class="fui-loop" style="vertical-align: bottom;"></i> -->
              Data Science for Social Good</a>
            <div class="nav-collapse collapse" id="nav-collapse-03">
              <ul class="nav">
                <li>
                  <a href="/2013/05/21/the-fellowship-and-the-fellows.html">
                    About
                </a>
                </li>
                <li>
                  <a href="/people">
                    People
                  </a>
                </li>
                <li>
                  <a href="/projects">
                    Projects
                  </a>
                </li>
                <li>
                  <a href="/events">
                    Events
                  </a>
                </li>
                <li>
                  <a href="/contact">
                    Get involved
                  </a>
                </li>
                <li>
                  <a href="/blog">
                    Blog
                  </a>
                </li>
              </ul> <!-- /nav -->
            </div>
        </div>
    </div>
</div>
