<div class="navbar navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <!-- The Logo -->
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse-03">
            </button>
            <a href="/" class="brand">Data Science for Social Good</a>
            <div class="nav-collapse collapse" id="nav-collapse-03">
              <ul class="nav">
                <li>
                  <a href="/about">
                    About
                </a>
                </li>
                <li class="active">
                  <a href="/people">
                    People
                  </a>
                </li>
                <li>
                  <a href="/projects">
                    Projects
                  </a>
                </li>
                <li>
                  <a href="/contact">
                    Get involved
                  </a>
                </li>
                <li>
                  <a href="/blog">
                    Blog
                  </a>
                </li>
              </ul> <!-- /nav -->
            </div>
        </div>
    </div>
</div>
